.principal{
    padding: 0px;
}
.sidebar{
    padding: 0px;
}
.dashboard{
    width: 59.2085938vw;
    padding: 0px;
    //margin-left: 0vw;
    //margin-right: 0vw;
}
.profilebar{
    padding: 0px;
}