<ion-card class="Modal">
  <ion-row>
    <ion-col class="Modal-title-col">
      <ion-card-title class="Modal-text-title"
        >¿Cuál es el tema central?</ion-card-title
      >
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="Modal-input-col">
      <ion-input type="text" text-right name="input" (ionInput)="guardar($event.target.value)" class="Modal-input" placeholder="Ejm: Los osos pandas"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-buttons">
      <ion-button name="aceptar" (click)=guardarCerrar() color="#FF9F00" class="Modal-Aceptar-button">Aceptar</ion-button>
      <ion-button name="close" (click)="closePopup()" color="#FF9F00" class="Modal-Cancelar-button">Cancelar</ion-button>
    </ion-col>
  </ion-row>
</ion-card>
