.Modal{
    background: #5570FF;
    border-radius: 15px;
}

.Modal-title-col{
    height: auto;
    left: 0px;
    top: 10px;
}

.Modal-text-title{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-align: center;
}

.Modal-input-col{
    height: auto;
    margin-top: 9px;
}

.Modal-input{
    width: 301px;
    height: 31px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(85, 112, 255, 0.37);
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.Modal-Aceptar-button{
 background: #FF9F00;
 border-radius: 10px;
 width: 97px;
 height: 28px;
 margin-left: 22%;
}
.Modal-Cancelar-button{
 background: #FF9F00;
 border-radius: 10px;
 width: 97px;
 height: 28px;
 margin-left: 8%;
}

.col-buttons{
 margin-bottom: 12px;
}


