.title{
    margin-top: 3.375vh;
    margin-left: 8.11484375vw;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 2.1875vw;
    color: #5570FF;
}
.addStudent{
    margin-left: 51.16171875vw;
    margin-right: 5.390625vw;
}
.selectView{
    width: 28.203125vw;
    margin-top: 3.125vh;
    margin-left: 8.11484375vw;
}
.viewSelection{
    font-family: Muli;
    font-style: normal;
    font-weight: 800;
    font-size: 1.328125vw;
    text-transform: none;
    color: #4357BF;
}
.table{
    margin-left: 11.39609375vw;
    margin-right: 9.296875vw;
}