<ion-content>
  <ion-grid class="principal">
    <ion-row>
      <ion-col size="auto"class="banner">
        <app-banner title="Bienvenido" text="Introduce tus datos y empieza hoy mismo ha aprender" img="assets/svg/ilustration.svg"></app-banner>
      </ion-col>

      <ion-col class="component" >
        <app-avatar-select titulo="Crea una Cuenta" tipo1="Estudiante" tipo2="Docente" [registerData]="data" [userType]="type"></app-avatar-select >
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
