.btnRegister{
    margin: auto;
    font-family: Muli;
    text-transform: capitalize;
}
.genderSelector{
    font-family: Muli;
    text-transform: capitalize;
}

.label{
    font-family: Muli;
    text-transform: capitalize;  
}

.input{
    font-family: Muli;   
}

.datetime{
    font-family: Muli;  
}