.principal{
    padding: 0px;
    
    margin-left: 0vw;
    margin-right: 0vw;
}
.greeting{
    margin-top: 67px;
    margin-left: 8.03671875vw;
    font-family: Muli;
    font-weight: bold;
    font-size: 2.1875vw;
    color: #5570FF;
}
.question{
    margin-top: 4px;
    margin-left: 8.03671875vw;
    font-family: Muli;
    font-weight:normal;
    font-size: 1.09375vw;
    color:#334D6E; 
}
.report{
    padding: 0px;
    margin-top: 2.875vh;
    margin-left: 8.03671875vw;
}
.reportCol{
    padding: 0px;
}