.searchbar{
    width: 29.6875vw;
}
.headers{
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 1.093754vw;
    text-align: center;
    color: #334D6E;
}
.rows{
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #334D6E;
    text-align: center;
}
.editButton{
    width: 43px;
    height: 34px;
    margin: auto;
    background: #80AAE1;
    border-radius: 10px;
}
table {
    width: 100%;
  }