<ion-grid class="principal">
  <ion-content class="content">
    <ion-row style="height: 100%; justify-content: center">
    <div class="analogyView">
      <ion-row  *ngFor="let analogy of activityResponse.responses ; let i = index">
        <div  class="box" style="position: relative">  
          <ion-row style="justify-content: center; height: 100%; width: 100%;">
            <ion-col style="align-self: center">
              <ion-row style="justify-content: center">
                <div>
                  <ion-textarea disabled readonly [(ngModel)]="this.activityResponse.responses[i].premise" class="analogie-input"></ion-textarea>
                </div>
              </ion-row>
            </ion-col>
            <ion-col size="fixed" style="align-self: center;">
              <ion-row style="justify-content: center">
                  <ion-fab-button class="equal" style="width: 26.47px;height: 26.47px; margin-left: 10px; margin-right: 10px;">
                    <ion-icon src="assets/icon/activities/equal.svg" style="color:white;width: 20px;height: 15px;"></ion-icon>
                  </ion-fab-button>
              </ion-row>
            </ion-col>  
            <ion-col style="align-self: center"> 
              <ion-row style="justify-content: center">
                <div>
                  <ion-textarea disabled readonly [(ngModel)]="this.activityResponse.responses[i].alternative" class="analogie-input"></ion-textarea>
                </div>
              </ion-row>
            </ion-col>
          </ion-row>

        </div>
      </ion-row>
    </div>
  </ion-row>
  </ion-content>
</ion-grid>

