<ion-grid>
  <ion-row>
    <ion-col size="auto">
      <app-student-side-bar></app-student-side-bar>
      <app-NotificationBar></app-NotificationBar>
    </ion-col>
    <ion-col>
      <app-themes-view [chapterData]="chapterId"  (themeViewEvent)=loadReading($event) *ngIf="visibleThemes"></app-themes-view>
      <app-reflective-reading [textReading]="themeSelected" (keywordsEvent)="loadKeywords($event)" *ngIf="visibleReading"></app-reflective-reading>
      <app-start-activity [keywordsActivity]="myKeywords" [activities]="themeSelected.activities" *ngIf="visibleActivity"(activityEvent)="goToActivity($event)"></app-start-activity>
    </ion-col>
  </ion-row>
</ion-grid>
