
.textTitle{
    font-size: xx-large;
    font-weight: bolder;
    color: #5570FF;
    text-align: center;
    font-family: Muli;
}

.genderSelector{
    font-family: Muli;
    text-transform: capitalize;
}

.label{
    font-family: Muli;
    text-transform: capitalize;  
}

.userType{
    top: 49px;
}