.principal {
    width: 749px;
    height: 334px;
    left: 378px;
    top: 598px;
    
    background: #FFFFFF;
    border: 1px solid rgba(67, 87, 191, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 6px 8px rgba(111, 156, 214, 0.45);
    border-radius: 10px;
}
.schemeArea{
    width: 100%;
    height: 100%;
}
.title {
   
    width: 123px;
    height: 67px;
    left: 441px;
    top: 419px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    
    color: #334D6E;
    
    
    
}
.secundarykey {

    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    
    color: #334D6E;
    
    
    
    
    
}
.primarykey {



    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    
    color: #5570FF;
        
        
        
    }

.key{
    height: 300px;
}

.main-idea-input {
    padding: 0%;
    width: fit-content;
    height: 23px;
    background: #FFFFFF;
    border: 1px solid #FF9F00;
    box-sizing: border-box;
    border-radius: 3px;
}


.buttons {
    width: 20px;
    height: 20px;
    padding: 0px;  
    --background: #FF9F00;
    border-radius: 100%;
    --box-shadow: 0px;
    margin-left: 5px;
    margin-top: 5px;
}