<ion-grid class="principal">
  <ion-row class="header">
    <ion-item color="atomik">
      <ion-icon></ion-icon>
      <ion-label class="chapter-title">Crear Actividad</ion-label>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <ion-label class="chapter-label">Capítulo</ion-label>
    </ion-col>
    <ion-col size="8">
      <ion-item lines="none">
        <ion-select placeholder="Seleccione un capítulo" (ionChange)="searchThemes($event)">
          <ion-select-option *ngFor="let chapter of courseData.chapters" [value]="chapter.chapterId">{{chapter.title}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <ion-label class="chapter-label">Tema</ion-label>
    </ion-col>
    <ion-col size="8">
      <ion-item lines="none">
        <ion-select placeholder="Seleccione un tema">
          <ion-select-option *ngFor="let theme of chapterSelected.themes" [value]="theme.themeId">{{theme.title}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-label class="chapter-label">Técnica de Estudio</ion-label>
  </ion-row>
  <ion-row>
    <ion-item lines="none">
      <ion-select placeholder="Seleccione un capítulo">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-label class="chapter-label">Indicaciones</ion-label>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-textarea class="activity-textarea"></ion-textarea>
    </ion-col>
    
  </ion-row>
  <ion-row class="buttons">
    <ion-button clas="saveButton">Crear</ion-button>
    <ion-button fill="clear" class="cancelButton">Cancelar</ion-button>
  </ion-row>
</ion-grid>

