.principal{
    padding: 0px;
}
.title{
    margin-top: 123px;
    margin-left: 7.88046875vw;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 2.1875vw;

    color: #5570FF;
}
.list{
    margin-left: 7.88046875vw;
    margin-top: 27.23px;
}
.options{
    font-family: Muli;
    font-style: normal;
    //font-weight: 600;
    font-size: 1.71875vw;
    margin-left: 49.52px;
    color: #334D6E;
}
.nextButton{
    width: 13.671875vw;
    height: 6.5vh;
    margin-left: 57.25546875vw;

    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 1.40625vw;
    //line-height: 23px;
    text-align: center;
    text-transform: none;
    color: #FFFFFF;
}
.logo{
    width: 55.26px;
    height: 62.51px;
    margin-left: 37.74px;
}