<div class="principal"   id="principal" >
  <ion-content  style="height: 100%; width:100%">
    <app-expand></app-expand>
    <div #principal style="height: 100%; width:100%">
        <div *ngFor="let node of nodes ; let i = index" style="display: inline-block" cdkDrag [id]="node.id"></div> 
    </div>
  </ion-content>
</div>


<ng-template #myngfor>
  <div *ngIf="true">
      <div *ngFor="let mapItem of MapItems ; let i = index" style="display: inline-block" cdkDrag>
          <div style="display: inline-block" cdkDrag>
            <ion-row>
              <ion-item class="node-item" color="#B2BFFF" id="{{i}}" (click)="setItemsPositions()">
                <ion-label class="node-label">{{mapItem.text}}</ion-label>
              </ion-item>
            </ion-row>
            <ion-row style="justify-content:flex-end;" >
              <ion-fab-button class="buttons">
                <ion-icon style="width: 16px; height:16px; color:white; padding: 0px;" src="assets/icon/practice/color-change.svg"></ion-icon>
              </ion-fab-button>
              <ion-fab-button class="buttons">
                <ion-icon style="color:white; padding: 0px;font-size: 22px;" name="add"></ion-icon>
              </ion-fab-button>
            </ion-row>
          </div>
      </div> 
  </div>
</ng-template>

<ng-template #addItem>
  <div style="position: absolute;">
    <ion-row>
      <ion-item lines="none" class="ion-input-box" color="#FF9F00" id="{{i}}" (click)="setItemsPositions()" >
        <ion-input class="ion-input" placeholder="Enter Input"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row style="justify-content:flex-end;" >
        <ion-fab-button class="buttons">
          <ion-icon style="width: 16px; height:16px; color:white; padding: 0px;" src="assets/icon/practice/color-change.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button class="buttons">
          <ion-icon style="color:white; padding: 0px;font-size: 22px;" name="add"></ion-icon>
        </ion-fab-button>
    </ion-row>
  </div>
</ng-template>
