.principal {
    margin-right: 50px;
}
.title {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #5570FF;
    margin-left: 16px;
    margin-bottom: 15px;
}
.title-content {
    margin-left: -40px;
    margin-top: 18px;
}
.keywords-component {
    margin-top: 15px;
    margin-bottom: 39px;
}
.start-button {
    width: 162px;
    height: 53px;
    color: #5570FF;
    margin-top: 50px;
}
.start-button-label {
    font-family: Muli;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}