<ion-grid class="principal">
  <ion-row>
    <ion-col>
      <ion-img src="assets/svg/sidebar/logo.svg" class="logo"></ion-img>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="menuOptions">
      <ion-item color="atomik" lines="none" href="/docentes" class="item">
        <ion-icon id="dashboardIcon"></ion-icon>
        <ion-label class="options">Panel de Control</ion-label>
      </ion-item>

      <ion-item color="atomik" lines="none" href="/grupos">
        <ion-icon id="userIcon"></ion-icon>
        <ion-label class="options"> Mis estudiantes</ion-label>
      </ion-item>

      <ion-item color="atomik" lines="none" href="/cursos">
        <ion-icon id="cursoIcon"></ion-icon>
        <ion-label class="options">Cursos</ion-label>
      </ion-item>

      <ion-item color="atomik" lines="none" href="/puntajes">
        <ion-icon id="puntajeIcon"></ion-icon>
        <ion-label class="options">Puntajes</ion-label>
      </ion-item>

    </ion-col>
  </ion-row>

  <ion-row class="settings">
    <ion-col>
      <ion-item color="atomik" lines="none" href="/configuracion">
        <ion-icon id="settingsIcon"></ion-icon>
        <ion-label class="options">Configuración</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
