<ion-grid class="principal">
  <ion-content [scrollX]="true" [forceOverscroll]="true" (click)="abrirModal()">

        <ion-row style="height: 100%; width: max-content; justify-content: center">
          <div style="margin: auto">
            <ion-grid class="ion-margin">
              <ion-row>
                <ion-col *ngFor="let Idea of IdeasOrden; index as i">
                  <app-ideas-secundary (IdeasAll)="ActualizarIdeas($event)" [mainIdeas]="mainIdeas" [ideasXMostrar]="Idea" [lado]="'C'">1</app-ideas-secundary>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-row>

    
  </ion-content>
</ion-grid>
