<ion-grid  id="principal" class="principal" >
  <ion-content
    id="contentBody"
    [scrollX]="true"
    [forceOverscroll]="true"
    (click)="abrirModal()"
   
  >
    <app-ideas-secundary
      id="n-{{ Idea.id }}"
      class="Item"
      [ngStyle]="{'transform': getPosition(Idea.px,Idea.py)}"
      *ngFor="let Idea of Center"
      (IdeasAll)="ActualizarIdeas($event)"
      [mainIdeas]="mainIdeas"
      [ideasXMostrar]="Idea"
      [lado]="'C'"
      (dblclick)="cambiarPosicion(Idea.id)"
      (press)="cambiarPosicion(Idea.id)"
      (click)="Colocar(Idea.id)"
    ></app-ideas-secundary>

    <app-ideas-secundary
      id="n-{{ Idea.id }}"
      class="Item"
      [ngStyle]="{'transform': getPosition(Idea.px,Idea.py)}"
      *ngFor="let Idea of IdeasOrd"
      (IdeasAll)="ActualizarIdeas($event)"
      [mainIdeas]="mainIdeas"
      [ideasXMostrar]="Idea"
      [lado]="'R'"
      (dblclick)="cambiarPosicion(Idea.id)"
      (click)="Colocar(Idea.id)"
    ></app-ideas-secundary>
  </ion-content>
</ion-grid>
