.principal {
    width: 749px;
    height: 334px;
    background: #FFFFFF;
    border: 1px solid rgba(67, 87, 191, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 6px 8px rgba(111, 156, 214, 0.45);
    border-radius: 10px;
}

@media only screen and (max-width: 970px) {
    .principal {
        width: 500px;
    }
}
.title {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    align-self: center; 
    color: #334D6E;   
    
}

.key{
    height: 300px;
}

.main-idea-input {
    padding: 0%;
    width: fit-content;
    height: 23px;
    background: #FFFFFF;
    border: 1px solid #FF9F00;
    box-sizing: border-box;
    border-radius: 3px;
}

.buttons {
    width: 20px;
    height: 20px;
    padding: 0px;  
    --background: #FF9F00;
    border-radius: 100%;
    --box-shadow: 0px;
    margin-left: 5px;
    margin-top: 5px;
}

::ng-deep .sc-ion-modal-ios-h {
    --background: none;
    --box-shadow: 0;
}

::ng-deep .sc-ion-modal-md-h {
    --background: none;
    top: 233px;
    width: 426px;
    height: 146px;
}

@media only screen and (min-width: 971px) {
    ::ng-deep .sc-ion-modal-md-h {
    --width: 100%;
    --height: 100%;
    --background: none;
    --box-shadow: 0;
      left: 33%;
      width: 426px;
      height: 146px;
    }
}

::ng-deep .sc-ion-modal-md-h:first-of-type {
    --backdrop-opacity: 0;
    --box-shadow: 0;
}


@media only screen and (min-width: 2000px) {
    ::ng-deep .sc-ion-modal-md-h {
    left: 37%;
    }
}
@media only screen and (min-width: 1405px) {
    ::ng-deep .sc-ion-modal-md-h {
    left: 39%;
    }
}
@media only screen and (min-width: 971px) {
    ::ng-deep .sc-ion-modal-md-h {
        left: 34%;
    }
}
@media only screen and (max-width: 970px) {
    ::ng-deep .sc-ion-modal-md-h {
        --height: 146px;
        left: 232px;
    }
}

.Fmm{
padding-left: 12px;
padding-right: 12px;
background: #5570FF;
border-radius: 15px;
font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
/* identical to box height */

letter-spacing: 0.01em;

color: #FFFFFF;
}


.palette{
 margin-right: 5px;
}
.rowIcons{
    align-items: end;
    justify-content: end;
}
