<ion-grid  id="principal" class="principal"  (click)="abrirModal()">
  <ion-content
    id="contentBody"
    [scrollX]="true"
    [forceOverscroll]="true"
  >
    <app-ideas-secundary
      id="n-{{ Idea.id }}"
      class="Item"
      [ngStyle]="{'transform': getPosition(Idea.px,Idea.py)}"
      *ngFor="let Idea of Center"
      (IdeasAll)="ActualizarIdeas($event)"
      [mainIdeas]="mainIdeas"
      [ideasXMostrar]="Idea"
      [lado]="'C'"
      (mouseover)="cambiarPosicion(Idea.id)"
    ></app-ideas-secundary>

    <app-ideas-secundary
      id="n-{{ Idea.id }}"
      class="Item"
      [ngStyle]="{'transform': getPosition(Idea.px,Idea.py)}"
      *ngFor="let Idea of IdeasOrd"
      (IdeasAll)="ActualizarIdeas($event)"
      [mainIdeas]="mainIdeas"
      [ideasXMostrar]="Idea"
      [lado]="'R'"
      (mouseover)="cambiarPosicion(Idea.id)"
    ></app-ideas-secundary>

    <div [innerHtml]="getConectors()"></div>
  </ion-content>
</ion-grid>
