<ion-grid class="principal">
  <ion-row>
    <ion-item button (click)="open('chapter')" lines="none" class="item">
      <ion-icon id="fileIcon"></ion-icon>
      <ion-label class="drop-title">Capítulo</ion-label>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-item button (click)="open('theme')" lines="none" class="drop-row" >
      <ion-icon id="themeIcon"></ion-icon>
      <ion-label class="drop-title">Tema</ion-label>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-item button (click)="open('activity')" lines="none" class="drop-row" >
      <ion-icon id="activityIcon"></ion-icon>
      <ion-label class="drop-title">Actividad</ion-label>
    </ion-item>
  </ion-row>
</ion-grid>
