.title{
    font-family: Muli;
    color:#334D6E
}
.item #emailIcon {
    content: url('../../../../../../assets/icon/personal-data/email.svg');
 }
 .item #levelIcon {
    content: url('../../../../../../assets/icon/personal-data/graduationCap.svg');
 }
 .item #userIcon {
    content: url('../../../../../../assets/icon/personal-data/userId.svg');
 }