
  <ion-grid class="principal">
    <ion-content>
    <ion-row class="schemeArea">

      <ion-col size="auto">
        <ion-row style="height: 100%; width:100%; justify-content: center">
          <ion-col size="auto"></ion-col>
          <div style="margin: auto;">
            <ion-label class="title">Titulo del Esquema</ion-label>
            <div>
              <ion-fab-button style="margin-left: 125px;" class="buttons" (click)="addPrincipalIdea()">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </div>
          </div>
        </ion-row>
      </ion-col>

      <ion-col size="auto">
        <ion-row style="height: auto; ">
          <ion-col [hidden]="primaryKey" size="auto" style="height: auto;"> 
            <svg width="26" [attr.height]="keySize" viewBox="0 0 26 220" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
              <path d="M25 1C20.7037 1.71805 12.2889 6.60079 13 20.3874V91.4743C13.2963 96.7879 11.3111 107.932 1 110" stroke="#5570FF" stroke-width="2"/>
              <path d="M25 219C20.7037 218.282 12.2889 213.399 13 199.613V128.526C13.2963 123.212 11.3111 112.068 1 110" stroke="#5570FF" stroke-width="2"/>
            </svg>            
          </ion-col>
          <!--ZONA IDEAS PRINCIPALES-->
         <ion-col size="auto"  id="pngNode">
            <ion-row  *ngFor="let mainIdea of mainIdeas; let i = index" >
              <ion-col size="auto" class="ideas-shape">
                <ion-input class="main-idea-input" [(ngModel)]=mainIdea.principalIdea></ion-input>
                <ion-fab-button style="margin-left: 14vw;" class="buttons" (click)="addSecondaryIdea(i)">
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
              </ion-col>
              <ion-col class="ideas-shape" [hidden]="this.mainIdea.leafs == ''">
                <ion-row *ngFor="let secondaryIdea of mainIdea.leafs" >
                  <ion-input class="main-idea-input" [(ngModel)]=secondaryIdea.principalIdea></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col> 
        </ion-row>
      </ion-col>

    </ion-row>
  </ion-content>
</ion-grid>