.principal {
    width: 749px;
    height: 334px;
    background: #FFFFFF;
    border: 1px solid rgba(67, 87, 191, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 6px 8px rgba(111, 156, 214, 0.45);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 11.00546875vw;
    margin-bottom: 20px;
}
.schemeArea{
    width: 100%;
    height: 100%;
}
.title {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    align-self: center; 
    color: #334D6E;   
}

.tree-node-font {
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #334D6E;
}

.main-idea-input {
    padding: 0%;
    width: fit-content;
    height: 23px;
    background: #FFFFFF;
    border: 1px solid #FF9F00;
    box-sizing: border-box;
    border-radius: 3px;
}

.buttons {
    width: 20px;
    height: 20px;
    padding: 0px;  
    --background: #FF9F00;
    border-radius: 100%;
    --box-shadow: 0px;
    margin-left: 5px;
    margin-top: 5px;
}