
  <ion-grid class="principal">
    <ion-content>
    <ion-row class="schemeArea">

      <ion-col size="auto">
        <ion-row style="height: 100%; width:100%; justify-content: center">
          <ion-col size="auto"></ion-col>
          <div style="margin: auto;">
            <ion-label class="title">Titulo del Esquema</ion-label>
            <div>
              <ion-fab-button style="margin-left: 125px;" class="buttons" (click)="addPrincipalIdea()">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </div>
          </div>
        </ion-row>
      </ion-col>

      <ion-col size="auto">
        <ion-row style="height: auto; ">
          <ion-col size="auto" style="height: auto;">
            <ion-img src="assets/svg/activities/key.svg" class="key"></ion-img>

          </ion-col>
          <!--ZONA IDEAS PRINCIPALES-->
          <ion-col size="auto">
            <ion-row *ngFor="let mainIdea of mainIdeas; let i = index" >
              <ion-col size="auto">
                <ion-input class="main-idea-input" [(ngModel)]=mainIdea.principalIdea></ion-input>
                <ion-fab-button style="margin-left: 125px;" class="buttons" (click)="addSecondaryIdea(i)">
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
              </ion-col>
              <ion-col>
                <ion-row *ngFor="let secondaryIdea of mainIdea.leafs">
                  <ion-input class="main-idea-input" ></ion-input>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>
  </ion-content>
</ion-grid>