<ion-grid class="principal">
  <ion-row >
    <ion-col>
      <ion-item lines=none class="selectionLabel">
        <ion-label >{{value1}}</ion-label>
        <ion-toggle color="atomik" value={{type}} (ionChange)="selectType($event)"></ion-toggle>
        <ion-label>{{value2}}</ion-label>
      </ion-item> 
    </ion-col>
  </ion-row>

  <ion-row style="height: 45vh; justify-content: center" >
    <ion-content class="content">
        <ion-row style="height: 100%; justify-content: center">

          <div class="synonymView" id="pngNode">
            <ion-row *ngFor="let item of Items ; let i = index">
              <div class="box" style="position: relative">

                  <ion-fab vertical="bottom" horizontal="end" style="right: 10px; bottom: -10px">
                    <ion-fab-button class="add-button" (click)="addItem()">
                      <ion-icon style="color:white; padding: 0px;font-size: 20px;" name="add"></ion-icon>
                    </ion-fab-button>
                  </ion-fab>
                      
                  <ion-row class="synonymRow">
                    <ion-col class="synonymBox">
                      <ion-row >
                        <div>
                          <ion-textarea [(ngModel)]="this.Items[i].premise" class="analogie-input"></ion-textarea>
                        </div>
                      </ion-row>
                    </ion-col>
        
                    <ion-col size="fixed" class="synonymEqual" *ngIf="this.type">
                      <ion-row >
                          <ion-fab-button class="icon">
                            <ion-icon src="assets/icon/activities/equal.svg" style="color:white;width: 20px;height: 15px;"></ion-icon>
                          </ion-fab-button>
                      </ion-row>
                    </ion-col>  
  
                    <ion-col size="fixed" class="synonymEqual" *ngIf="!this.type">
                      <ion-row >
                          <ion-fab-button class="equal">
                            <ion-icon src="assets/icon/activities/not-equal.svg" style="color:white;width: 20px;height: 15px;"></ion-icon>
                          </ion-fab-button>
                      </ion-row>
                    </ion-col> 
                    
                    <ion-col class="synonymBox"> 
                      <ion-row >
                        <div>
                          <ion-textarea [(ngModel)]="this.Items[i].alternative" class="analogie-input"></ion-textarea>
                        </div>
                      </ion-row>
                    </ion-col>
                  </ion-row>
              </div>
            </ion-row>
          </div>
        </ion-row>
      </ion-content>
    </ion-row>  
</ion-grid>
