.principal {
    height: 100%;
    width: 100%;
    padding-top: 0px;
}
.selectionLabel{
    width: 20vw;
    margin-bottom: 2vh;
    margin-left: 7vw;
}

.titles {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.input {
    width: 20vw;
    height: 14vh;
    background: #FFFFFF;
    border: 1px solid #5570FF;
    box-sizing: border-box;
    border-radius: 3px;
}
.icon {
    width: 2vh;
    height: 2vh;   
    --background: #5570FF;
    pointer-events: none;
}
.box {
    width: 60vw;
    height: 20vh;
    margin-bottom: 10px;
    border: 2px solid #B2BFFF;
    box-sizing: border-box;
    border-radius: 15px;
}
.add-button {
    width: 4vh;
    height: 4vh;
    --background: #FF9F00;
    border-radius: 100%;
    --box-shadow: 0px;
}
.content {
    height: 70%;
    width: 100%;
    align-items: center;
    justify-content: center;
}