<ion-grid class="principal">
  <ion-row class="component">
    <ion-col size="auto">
      <app-student-side-bar></app-student-side-bar>
      <app-NotificationBar></app-NotificationBar>
    </ion-col>
    <ion-col>
      <app-activity-header [activityIndications]="activity.indications"></app-activity-header>
      <app-bleeding *ngIf="visibleBleeding"></app-bleeding>
      <app-key *ngIf="visibleKeys"></app-key>
      <app-tree *ngIf="visibleTree"></app-tree>
    </ion-col>
  </ion-row>
  <ion-row class="finalRow">
    <ion-col>
      <app-keywords [Keywords]="keywords"></app-keywords>
      
    </ion-col>

    <ion-col class="saveButton">
      <ion-button shape="round" color="atomik" (click)="saveActivity()">Enviar a revisión</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>