.principal{
    padding: 0%;
}
.finalRow{
    height: 183px;
    margin-top: 88px;
    margin-left: 377.13px;
}
.saveButton{
    margin-top: 25px;
    margin-left: 110px;
}
.component{
    height: 449px;
}