.title{
    font-family: Muli;
    color:#334D6E
}
.data{
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #334D6E;
}

.item #emailIcon {
    content: url('../../../../../../assets/icon/personal-data/email.svg');
 }
 .item #specialityIcon {
    content: url('../../../../../../assets/icon/personal-data/specialty.svg');
 }