.title{
    font-family: Muli;
    color:#334D6E
}
.item #emailIcon {
    content: url('../../../../../../assets/icon/personal-data/email.svg');
 }
 .item #specialityIcon {
    content: url('../../../../../../assets/icon/personal-data/specialty.svg');
 }