.principal{
    padding: 0px;
}
.title{
    margin-top: 2.5vh;
    margin-left: 8.27109375vw;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 2.265625vw;
    color: #334D6E;
}
.text{
    width: 27.578125vw;
    margin-top: 1.25vh;
    margin-left: 8.27109375vw;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 0.937vw;
    color: #334D6E;
}
.subject{
    margin-top: 7.125vh;
    margin-left: 8.27109375vw;
    font-family: Muli;
    font-style: normal;
    font-weight: 800;
    font-size: 1.796875vw;
    color: #5570FF;
}
.toolbar{
    margin-left: 8.27109375vw;
}
.subjectName{
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 1,5625vw;
    color: #5570FF;


}

.practice-title {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #334D6E;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 27px;
}
.first-circle {
    fill: #FFB946;
}
.second-circle {
    fill: #2ED47A;
}
.third-circle {
    fill: #F7685B;
}
.fourth-circle {
    fill: #885AF8;
}