
.principal{
    width: 34.18740849194729vw;
    height: auto;
    border: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    background: #5570FF;
    padding: 0px;  

}
.logo{

}
.title{
    color: floralwhite;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 20px;
    text-align: center;
    font-family: Muli;
}

.text{
    color: floralwhite;
    margin-top: 20px;
    text-align: center;
}

.ilustration{
    margin-top: 21vh;
    padding: 0px;
}

.col{
    padding: 0px;
}