<ion-content class="principal">
  <ion-grid class="principal">
    <app-charts class="area" [keywords]="activitykeywords" [activity]="myActivity" [activitySelected]="data" *ngIf="visibleCharts"></app-charts>
    <app-scheme  class="area" [keywords]="activitykeywords" [activity]="myActivity" [activitySelected]="data" *ngIf="visibleSchemes"></app-scheme>
    <app-maps class="area" [keywords]="activitykeywords" [activity]="myActivity" [activitySelected]="data" *ngIf="visibleMaps"></app-maps>
  </ion-grid>
</ion-content>
