<ion-content>
  <ion-grid>
    <ion-row>
      <ion-label class="title">Puntajes</ion-label>
    </ion-row>
    <ion-row class="table">
      <ion-searchbar class="searchbar" (ionChange)="search($event)"></ion-searchbar>
    </ion-row>
    <ion-row class="table">
      <ion-col>
        <ion-item lines=none>
          <ion-label class="headers">Nombre</ion-label>
          
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item lines=none>
          <ion-label class="headers">Español</ion-label>
    
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines=none>
          <ion-label class="headers">Est. Sociales</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines=none>
          <ion-label class="headers">Cívica</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines=none>
          <ion-label class="headers">Biología</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines=none>
          <ion-label class="headers">Física</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines=none>
          <ion-label class="headers">Química</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="table">
      <ion-grid class="ion-text-center">
        <ion-row class="row" *ngFor="let score of scoresList | studentFilter: searchtext: 'name'">
          <ion-col>
            <ion-label class="name">{{score.name}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="grades">{{score.espaniol}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="grades">{{score.sociales}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="grades">{{score.civica}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="grades">{{score.biologia}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="grades">{{score.quimica}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label class="grades">{{score.fisica}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>