.searchbar{
    width: 29.6875vw;
}
.title{
    margin-top: 3.375vh;
    margin-left: 8.11484375vw;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 2.1875vw;
    color: #5570FF;
}
.headers{
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: .95vw;
    text-align: center;
    color: #29415f;
}
.name{
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 1.09375vw;    
    color: #334D6E; 
    text-align: center;
}
.grades{
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 0.9vw;
    text-align: center;
    color: #334D6E;
}
.table{
    margin-left: 7.72421875vw;
    //margin-right: 7.96875vw;
}