<ion-row *ngFor="let Idea of Mostrar" style="width: max-content">
  <ion-col>
    <ion-row class="Fmm">
      <ion-input  class="Fmm-text fmm-input"
        *ngIf="!Idea.principalIdea; else noIdea"
        [value]="Idea.id + '->' + Idea.idPadre"
      ></ion-input>
      <ion-badge #noIdea (dblclick)="abrirModal(true)"  class="Fmm-text">{{
        Idea.principalIdea
      }}</ion-badge>
    </ion-row>
    <ion-row class="rowIcons">
      <ion-fab-button class="buttons palette">
        <ion-icon name="color-palette-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        class="buttons pluss"
        (click)="addSecondaryIdea(Idea.id, Idea.px, Idea.py,Idea.sub.length)"
      >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-row>
  </ion-col>
</ion-row>
