  .palette{
    margin-right: 5px;
   }
   .rowIcons{
       align-items: end;
       justify-content: end;
   }
   
   .rowIcons2{
       align-items:initial;
       justify-content: initial;
   }
   
   .rowIdeas{
       align-content: center;
       justify-content: center;
   }
   .Fmm{
    padding-left: 12px;
    padding-right: 12px;
    background: #5570FF;
    border-radius: 15px;
    }

    .Fmm-text{
        font-family: Muli;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        background: #5570FF;
    }
    .fmm-input{
        background-color: white;
        color: black;
        margin: 2px;
        --padding-bottom:0px;
        --padding-top:0px;
        width: 140px;
;
    }



    .buttons {
        width: 20px;
        height: 20px;
        padding: 0px;  
        --background: #FF9F00;
        border-radius: 100%;
        --box-shadow: 0px;
        margin-left: 5px;
        margin-top: 5px;
        z-index: 5px;
    }
