<ion-grid class="principal">
  <ion-row class="header">
    <ion-item color="atomik"> 
      <ion-icon></ion-icon>
      <ion-label>Editar Estudiante</ion-label>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label class="label">Nombre:</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-input placeholder="Nombre del estudiante" class="input"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label class="label">Grado académico</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none" class="input">
            <ion-select placeholder="Seleccione un grado acedémico">
              <ion-select-option value="Sétimo">Sétimo</ion-select-option>
              <ion-select-option value="Octavo">Octavo</ion-select-option>
              <ion-select-option value="Noveno">Noveno</ion-select-option>
              <ion-select-option value="Décimo">Décimo</ion-select-option>
              <ion-select-option value="Undécimo">Undécimo</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label class="label">correo electrónico</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-input placeholder="Nombre del estudiante" class="input"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-row>
  <ion-row class="buttons">
      <ion-button color="atomik" class="saveButton">Guardar</ion-button>
      <ion-button color="none" class="cancelButton">Cancelar</ion-button>
  </ion-row>
</ion-grid>