.principal{
    padding: 0%;
}
.finalRow{
    height: 50vw;
    margin-top: 10vh;
    margin-left: 10vw;
}
.saveButton{
    position: absolute;
    margin-top: 2vh;
    margin-left: 60vw;
}

.saveButton ion-button{
    margin-left: 103px;
    font-family: Muli;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #ffffff;
  }
.component{
    height: 449px;
}