.principal{
    padding: 0%;
}
.finalRow{
    height: 183px;
    margin-top: 82px;
    margin-left: 377.13px;
}
.saveButton{
    margin-left: 103px;
}

.saveButton ion-button{
    margin-left: 103px;
    font-family: Muli;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #ffffff;
  }
.component{
    height: 449px;
}