<ion-grid>
  <ion-row>
    <ion-col>
      <ion-label class="title">Añadir tema</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input class="title-input" placeholder="titulo" [(ngModel)]="themeDataInfo.title"></ion-input>
      <ion-textarea class="content-text-area" [(ngModel)]="themeDataInfo.content"></ion-textarea>
    </ion-col>
    <ion-col>
      <ion-button shape="round" color="atomik" class="saveButton" (click)="save()">Guardar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>